html {
  position: relative;
  min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Balsamiq Sans', Sans Serif;
}

/*--Callout--*/
h1 {
    font-size: 7.5em;
    font-weight: 900 !important;
    text-align: center;
    margin-top: 175px;
    flex-wrap: wrap;
}
h2 {
    text-align: center;
    flex-wrap: wrap;
}
/*--callout--*/

/*--Start Game and Restart Buttons--*/
.btn-start,  .btn-restart {
    font-size: 15px;
    text-align: center;
    border-color: black;
}

.navbar>.container, .navbar>.container-fluid {
    justify-content: center;
}
/*--start game and restart buttons--*/

/*--Back Arrow--*/
.arrow {
    font-size: 2.5em;
    font-weight: 900 !important;
    color: black;
    margin-left: 7.5px;
}
/*--back arrow--*/

/*--Match Game--*/
.match-game {
    width: 700px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 500px;
}

@media only screen and (max-width: 500px) {
  .flex {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 700px) {
  .match-game {
    width: 540px;
    height: 540px;
  }
}

@media only screen and (max-width: 600px) {
  .match-game {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .match-game {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .match-game {
    width: 325px;
    height: 325px;
  }
}

@media only screen and (max-width: 400px) {
  .match-game {
    width: 275px;
    height: 275px;
  }
}
/*--match game--*/

/*--Cards--*/
.match-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 2px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .25s;
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute; 
    border-radius: 2px;
    background: white;
    backface-visibility: hidden;
}

.match-card:active {
    transform: scale(0.75);
    transition: transform .25s;
}

/*--Flip Class Rotates Bill--*/
.match-card.flip {
    transform: rotateX(180deg);
}
/*--flip class rotates bill--*/

/*--Rotates Front--*/
.front {
    transform: rotateX(180deg);
}
/*--rotates front--*/

/*--cards--*/